 .blockFriend {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   
    
}
 
 

.icon {
    background: green;
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 50%;
    width: 10px;
    
}