.App {
 
}

.App-wrapper {
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns:2fr 10fr ;
  width: 100%;
  grid-template-areas:
    "h h"
    "n c"
  ;
    
  
  
}
.header img {
  width: 150px;
}


.header {
  background: black;
  grid-area: h;
}

.nav {
  background-color: brown;
  grid-area: n;
  text-align: center;
  
}

.nav-item{
  margin-top: 20px;
}
.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content {
  background-color: chocolate;
  grid-area: c;
}

.content img {
  width: 1200px;
  margin: 0 auto;
  
}


